<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Predicción de Diabetes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Predicción de Diabetes</h1>
    <form method="POST" action="/">
      <div class="form-group">
        <label for="pregnancies">Embarazos:</label>
        <input type="number" class="form-control" id="pregnancies" name="pregnancies" required>
      </div>
      <div class="form-group">
        <label for="age">Edad:</label>
        <input type="number" class="form-control" id="age" name="age" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Predecir</button>
    </form>
    <div id="prediction"></div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function() {
      $('form').submit(function(event) {
        event.preventDefault();

        // Obtén los datos del formulario
        const data = {
          Pregnancies: $('#pregnancies').val(),
          Glucose: $('#glucose').val(),
          BloodPressure: $('#bloodPressure').val(),
          SkinThickness: $('#skinThickness').val(),
          Insulin: $('#insulin').val(),
          BMI: $('#bmi').val(),
          DiabetesPedigreeFunction: $('#diabetesPedigreeFunction').val(),
          Age: $('#age').val(),
        };

        // Envía una solicitud AJAX para realizar la predicción
        $.ajax({
          url: '/',
          type: 'POST',
          data: JSON.stringify(data),
          contentType: 'application/json',
          success: function(response) {
            console.log(response); // Para depurar, puedes ver la respuesta completa en la consola
            $('#prediction').html(`<p>${response.prediction}</p>`);
          },
          error: function(error) {
            console.error('Error:', error);
            $('#prediction').html('<p>Ocurrió un error. Por favor, verifica los datos ingresados.</p>');
          }
        });
      });
    });
  </script>
</body>
</html>