<!DOCTYPE html>
<html lang="es">
<head>
  <script>
    $(document).ready(function() {
      $('form').submit(function(event) {
        event.preventDefault();

        // Obtén los datos del formulario
        const data = {
          Pregnancies: $('#pregnancies').val(),
          Glucose: $('#glucose').val(),
          BloodPressure: $('#bloodPressure').val(),
          SkinThickness: $('#skinThickness').val(),
          Insulin: $('#insulin').val(),
          BMI: $('#bmi').val(),
          DiabetesPedigreeFunction: $('#diabetesPedigreeFunction').val(),
          Age: $('#age').val(),
        };

        // Envía una solicitud AJAX para realizar la predicción
        $.ajax({
          url: '/',
          type: 'POST',
          data: JSON.stringify(data),
          contentType: 'application/json',
          success: function(response) {
            console.log(response); // Para depurar, puedes ver la respuesta completa en la consola
            $('#prediction').html(`<p>${response.prediction}</p>`);
          },
          error: function(error) {
            console.error('Error:', error);
            $('#prediction').html('<p>Ocurrió un error. Por favor, verifica los datos ingresados.</p>');
          }
        });
      });
    });
  </script>
</body>
</html>